<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
</head>
<body>
    <h3>Cadastro de Cliente</h3>
    <form action="/cliente" method="POST">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome"/>

        <label for="cnpj">CNPJ</label>
        <input type="text" id="cnpj" name="cnpj"/>

        <label for="data">Data Fundação</label>
        <input type="text" id="data" name="dataFundacao"/>

        <input type="submit"/>

    </form>
</body>
</html>